* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

body {
    background-color: #1a1a1a;
    font-family: monospace;
    font-size: 16px;
}

.container {
    width: 100%;
    padding: 40px 20px;
    max-width: 960px;
    margin: auto;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.navigation a {
    font-size: 26px;
    font-family: monospace;
    color: #4dff91;
}

.back {
    position: absolute;
    top: 30px;
    left: 30px;
    font-family: monospace;
    color: #4dff91;
    font-size: 18px;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 10px;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    align-items: center;
}